/* Palette */
:root {
    --background: #ffffff;
    --mark: #ffffff88;
    --card-background: #ffffff;
    --body: #3a3a3a;
    --offtone: #555555;
    --box-shadow: 7px 7px 21px -10px rgba(153,153,153,0.89);
    --tag-outline: rgba(0,0,0,0.1);
    --tag-background: rgba(0,0,0,0.03);
}